@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Better Together Script';
    src: url('../fonts/Better Together Script.otf');
    src: url('../fonts/Better Together Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?5142199');
    src: url('../fonts/fontello.eot?5142199#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?5142199') format('woff'),
    url('../fonts/fontello.ttf?5142199') format('truetype'),
    url('../fonts/fontello.svg?5142199#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
    position: fixed;
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.3);

}
header nav{
    text-align: right;
}
header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 20px 0px 15px 35px;
}
header nav ul li a{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
header nav ul li a:hover{
    text-decoration: none;
    color: #6796ce;
}
header nav, header div{
    display: inline-block;

}
header div{
    text-align: center;
}
header a.button{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #6796ce;
    background: white;
    padding: 10px 45px;
    border-radius: 25px;

}
.top{
    background: url("../img/back.png") no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 110vh;
}
.top span{
    display: inline-block;
    font-family: 'Better Together Script', sans-serif;
    font-size: 140px;
    color: white;
    width: 50%;
    line-height: 130px;

}
.about h1, .hotel h1, .hotel h2, .gallery h1, .gallery h2{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(180deg, #389ffa 0%, #6796ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #6796ce;

}
.about .text{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    color: #6796ce;
    margin-top: 40px;
}
.about .icons{
    margin-bottom: 40px;
}
.about .icons img, .about .icons div{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.about .icons div span{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 24px;
    color: #6796ce;
    display: block;
}
.hotel{
    background: url("../img/backhotel.png") no-repeat;
    background-size: cover;
    padding-top: 5%;
}
.hotel .container .row, .gallery .container .row{
    display: block;
    text-align: center;
}
.hotel .cards div{
    display: inline-block;
    padding: 0px;
    margin: 5px -2px;
}
.hotel .cards .hotelcard{
    position: relative;
    overflow: hidden;
}
.hotel .cards div img{
    border-radius: 25px;
}
.hotel .cards div .hotelname{
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    padding-top: 1%;
    padding-left: 10%;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 22px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px 25px 0 0;

}

.hotel .cards div .price{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    left: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 24px;
    color: white;
    border-radius: 0 0 25px 25px;
}
.hotel .cards div .price .onepeople{
    font-size: 14px;
}
.hotel .see div{
    display: inline-block;
    margin: 40px;
}
.hotel .see .button a, .gallery .see .button a{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(180deg, #389ffa 0%, #6796ce);
    padding: 15px 20px;
    border-radius: 25px;
    color: #fff;
}
.hotel .see .button a i{
    padding-left: 40px;
}
.hotel .see div span{
    font-family: "Gotham Pro", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #6796ce;
}
.gallery{
    background: url("../img/backgallery.png") no-repeat;
    background-size: cover;
    padding-top: 5%;
}
.gallery .galleryprew{
    position: relative;
    display: inline-block;
}
.gallery .galleryprew .photo{
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 10;
    transition: all .2s;
}
.gallery .galleryprew .photo_1{
    top: 0;
   float: right;
}
.gallery .galleryprew .photo_2{
    top: 5em;
    left: 11em;
}
.gallery .galleryprew .photo_3{
    top: -10em;
    float: left;
}
.gallery .galleryprew .photo:hover{
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}
.gallery .see{
    display: inline-block;
    position: relative;
    top: -13em;
    float: right;
}
.gallery .see .button a{
    padding: 15px 50px;
}
@media (max-width: 1200px) and (min-width: 992px){
    .hotel .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .hotel .cards div{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

}