@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Better Together Script';
    src: url('../fonts/Better Together Script.otf');
    src: url('../fonts/Better Together Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header{
    position: fixed;
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.3);

}
header nav{
    text-align: right;
}
header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 20px 0px 15px 35px;
}
header nav ul li a{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
header nav ul li a:hover{
    text-decoration: none;
    color: #6796ce;
}
header nav, header div{
    display: inline-block;

}
header div{
    text-align: center;
}
header a.button{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #6796ce;
    background: white;
    padding: 10px 45px;
    border-radius: 25px;

}
.top{
    background: url("../img/back.png") no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 100vh;
}
.top span{
    display: inline-block;
    font-family: 'Better Together Script', sans-serif;
    font-size: 140px;
    color: white;
    width: 50%;
    line-height: 130px;

}
.about h1{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(180deg, #389ffa 0%, #6796ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #6796ce;

}
.about .text{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    color: #6796ce;
    margin-top: 40px;
}
.about .icons{
    margin-bottom: 40px;
}
.about .icons img, .about .icons div{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.about .icons div span{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 24px;
    color: #6796ce;
    display: block;
}